<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Calculadora Simple</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <!-- Custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">UNLAM</a>
</nav>

<main role="main" class="container">
  <div class="container mt-5">
    <h1 class="text-center mb-4">Calculadora Simple</h1>
    <div class="card mx-auto" style="max-width: 400px;">
      <div class="card-body">
        <form action="#" th:action="@{/calcular}" th:object="${calculadoraData}" method="post">
          <div class="mb-3">
            <label for="operando1" class="form-label">Ingrese el primer Operando:</label>
            <input type="number" id="operando1" th:field="*{operando1}" class="form-control" required/>
          </div>
          <div class="mb-3">
            <label for="operando2" class="form-label">Ingrese el segundo Operando:</label>
            <input type="number" id="operando2" th:field="*{operando2}" class="form-control" required/>
          </div>
          <div class="mb-3">
            <label for="operador" class="form-label">Seleccione  la operación:</label>
            <select id="operador" th:field="*{operador}" class="form-select" required>
              <option value="sumar">Sumar</option>
              <option value="restar">Restar</option>
              <option value="multiplicar">Multiplicar</option>
              <option value="dividir">Dividir</option>
            </select>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-success">CALCULAR</button>
          </div>
          <div class="mt-3">
            <a th:href="@{'/calculadora'}" class="btn btn-outline-warning btn-block">Resetear</a>
          </div>
        </form>
        <div th:if="${resultadoFinal != null}" class="mt-3">
          <h2 class="text-center">Resultado: <span th:text="${resultadoFinal}"></span></h2>
        </div>
        <div th:if="${error != null}" class="mt-3">
          <h2 class="text-center text-danger">Error: <span th:text="${error}"></span></h2>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Bootstrap core JS -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>

