<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Cálculos por Fecha</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
</head>
<body>
<main role="main" class="container">
    <div class="container pt-2">
        <h1>Buscar Cálculos por Fecha</h1>
        <form th:action="@{/historial-fecha}" method="post" th:object="${calculadoraData}">
            <div class="form-group">
                <label for="fecha">Ingrese la fecha:</label>
                <input type="date" class="form-control" id="fecha" th:field="*{fecha}" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
            <a th:href="@{'/calculadora'}" class="btn btn-outline-dark btn-light">Calcular</a>
        </form>
    </div>

    <ul>
        <li th:each="calculo : ${historialFecha}">

            <h4>Cálculo N°: <span th:text="${calculo.id}"></span> Fecha: <span th:text="${calculo.fecha}"></span> Operación: <span th:text="${calculo.operando1}"></span>  <span th:text="${calculo.operador}"></span> <span th:text="${calculo.operando2}"></span> =  <span th:text="${calculo.resultado}"></span> </h4>

        </li>
    </ul>
    </p>
</main>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
